boto3==1.37.13
minio==7.2.15
mlflow==2.19.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
Pillow==10.4.0
PyYAML==6.0.2
transformers==4.44.2
open-clip-torch==2.26.1
huggingface-hub==0.24.6
ultralytics==8.3.78
git+https://github.com/facebookresearch/sam2.git@main
